<a href="https://colab.research.google.com/github/JesseChildress/sales-predictions/blob/main/Sales_Predictions_(Project_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [111]:
import pandas as pd

In [112]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [113]:
filename = '/content/sales_predictions.csv'
df = pd.read_csv(filename)

In [114]:
df.head() #taking a first look at the data

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [115]:
#checking for missing data and data info
#8,523 rows, 12 columns. 1463 missing from Item_Weight, 2410 missing from Outlet_Size
#datatypes all seem to be in order 
#The colums that are missing data are of type float and object.
#For both columns with missing data, the amount missing is greater than 5%, so we don't want to get rid of that data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [116]:
#checking number of rows/columns
df.shape

(8523, 12)

In [134]:
#Filling in the missing data for Item_Weight
#I am choosing to fill the missing weight values with the mean because that will not change min/max/mean calculations on the data
df.loc[:, 'Item_Weight'].fillna(12.8576, inplace = True)

In [135]:
#Filling in missing data for Outlet_Size. 
#I am choosing to add in "Unknown" so that the data is usable.
df.loc[:, 'Outlet_Size'].fillna('Unknown', inplace = True)
#checking for inconsistent categories
df['Outlet_Size'].value_counts()

Medium     2793
Unknown    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64

In [119]:
#checking for inconsistent categories
df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [120]:
#checking for inconsistent categories
df['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [121]:
#checking for inconsistent categories
# I don't think I would know even if these were inconsistent. I've just realized I won't need to check for inconsistent categories on all of them, as some are meant to all be differnt
df['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
NCI54     9
FDD38     9
FDF52     9
         ..
FDK57     1
DRF48     1
FDO33     1
FDY43     1
FDT35     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [122]:
#checking for inconsistent categories
#Inconsistencies! I must fix them.
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [123]:
#Fixing inconsistencies in Item_Fat_Content	column
df['Item_Fat_Content'].replace(to_replace = 'LF', value = 'Low Fat', inplace = True)
df['Item_Fat_Content'].replace(to_replace = 'reg', value = 'Regular', inplace = True)
df['Item_Fat_Content'].replace(to_replace = 'low fat', value = 'Low Fat', inplace = True)

In [124]:
#making sure that all inconsistencies have been removed
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [125]:
#checking for inconsistent categories
#There are no apparent inconsistencies here, the repition of the unique ID's indicates multiple items at the same stores. 
#We can see here that in this entire data set we are only working with items from 10 diffent stores
df['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT035    930
OUT046    930
OUT049    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [126]:
#checking for inconsistent categories
df['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [127]:
#checking for inconsistent categories
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [128]:
#checking for duplicates
df.duplicated().sum() # There are no duplicates in this dataset

0

In [129]:
#checking for duplicates specifically for the Item_Identifier colum, because there should be none in this column Item_Identifier	
df['Item_Identifier'].duplicated().sum()
#this means that 6,964 items ID's are duplicates. 
#I don't understand what this means, since every ID should be unique.

6964

In [130]:
#obtaining summary statistics
df.min() #checking for outliers and weirdness. Only numerical columns have a meaningful min

Item_Identifier                      DRA12
Item_Weight                          4.555
Item_Fat_Content                   Low Fat
Item_Visibility                          0
Item_Type                     Baking Goods
Item_MRP                             31.29
Outlet_Identifier                   OUT010
Outlet_Establishment_Year             1985
Outlet_Size                           High
Outlet_Location_Type                Tier 1
Outlet_Type                  Grocery Store
Item_Outlet_Sales                    33.29
dtype: object

In [131]:
df.max() #checking for outliers and weirdness.

Item_Identifier                          NCZ54
Item_Weight                              21.35
Item_Fat_Content                       Regular
Item_Visibility                       0.328391
Item_Type                        Starchy Foods
Item_MRP                               266.888
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 2009
Outlet_Size                            Unknown
Outlet_Location_Type                    Tier 3
Outlet_Type                  Supermarket Type3
Item_Outlet_Sales                        13087
dtype: object

In [132]:
df.mean() #only numerical columns return an average.

Item_Weight                    12.857637
Item_Visibility                 0.066132
Item_MRP                      140.992782
Outlet_Establishment_Year    1997.831867
Item_Outlet_Sales            2181.288914
dtype: float64

In [133]:
df.info() #confirming that all null values have been filled in

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB